body {
    background-color: hsl(233, 47%, 7%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.banner {
    background-color: hsl(244, 38%, 16%);
    position: relative;
    width: 1440px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.info_section {
    flex: 1;
    margin: 0 90px;
    /* padding check */
    /* background-color: rgba(137, 43, 226, 0.221);
    background-clip: content-box;
    box-shadow: inset 0 0 0 10px lightGreen; */
}

.business {}

.inter {
    font-family: 'Inter', sans-serif;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

.heading {
    font-size: 45px;
}

.about {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    width: 94%;
    margin-top: -3%;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.data {
    text-align: center;
    margin-top: 25px;
}

.stats_heading {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-top: -10%;
}

.image {
    background: url("images/image-header-desktop.jpg");
    background-size: cover;
    border-radius: 0 10px 10px 0;
    flex: 1;
    height: 100%;
    overflow: hidden;
    background-color: rgba(103, 6, 163, 0.555);
    background-blend-mode: soft-light;
}